@import url(node_modules/bootstrap/dist/css/bootstrap.css);
body {
  padding-top: 70px; }

.battery {
  position: relative;
  display: inline-block;
  border: 2px solid #9d9d9d;
  width: 10px;
  height: 14px; }
  .battery::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 4px;
    border: 1px solid #9d9d9d;
    top: -4px;
    left: 1px; }
  .battery .battery-bar {
    border: 1px solid #9d9d9d;
    width: 4px;
    margin: 1px; }
    .battery .battery-bar.active {
      border-color: #9d9d9d; }
    .battery .battery-bar.inactive {
      border-color: transparent; }
  .battery:hover {
    border-color: white; }
    .battery:hover::before {
      border-color: white; }
    .battery:hover .battery-bar {
      border-color: white; }
      .battery:hover .battery-bar.active {
        border-color: lightgreen; }
      .battery:hover .battery-bar.inactive {
        border-color: red; }

.estimate {
  display: inline-block;
  height: 16px;
  margin: 0 2px; }
  .estimate .estimate-bar {
    display: block;
    width: 8px;
    margin: 1px 0; }
    .estimate .estimate-bar.light {
      border-bottom: 2px solid #ccc; }
    .estimate .estimate-bar.dark {
      border-bottom: 2px solid #333; }
  .estimate:hover .estimate-bar.light {
    border-bottom: 2px solid #ccf; }
  .estimate:hover .estimate-bar.dark {
    border-bottom: 2px solid #33f; }
